<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги</title>
</head>
<body>


<form th:method="POST">
    <label for="find">Введите поисковый запрос:</label>
    <input id="find" name="findBook" type="text">
    <input type="submit" value="Искать!"/>
</form>

<div th:if="${findBooks}">
    <p style="background: #f69d9d" th:if="${findBooks.isEmpty()}">Книг не найдено!</p>

    <div style="background: #9be08e" th:each="findBook : ${findBooks}" th:if="${!findBooks.isEmpty()}">
        <hr>
        <p th:text="'Название книги: ' + ${findBook.getTitle()}">
        <p th:text="'Автор книги: ' + ${findBook.getAuthor()}">
        <p th:if="${findBook.getOwner()!=null}"
           th:text="'Книга принадлежит: ' + ${findBook.getOwner().getFullName()}">
        <p th:if="${findBook.getOwner()==null}"
           th:text="'Книга свободна!'">
        <hr>
    </div>
    <br>
    <br>
</div>

<form th:action="@{/books}" th:method="GET">
    <input type="submit" value="На страницу книг"/>
</form>

</body>
</html>